.carousel {
	position: relative;
	overflow: hidden;
	height: 300px;
	width: 450px;
}

.carousel .list {
	position: relative;
	left: 0;
	height: 100%;
	width: 1800px;
	z-index: 1;
	transition: left 0.5s;
}

.carousel img { float: left; }

/*debug*/
.carousel button { z-index: 10; }
